*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(10, 10, 10);
}

header{
    height: 10%;
    width: 100%;
    padding: 0%;
    background-color: black;
    position: absolute;
    top: 0px;
    display:flex;
    align-items: center;
    justify-content: left;
    box-shadow: #b3b3b3;
}

.content{
        display: flex;
        justify-content: center;
}

.input {
    background-color: rgba(101, 101, 102, 0.363);
    color: white;
    border: 1px solid #6d6d6d;
    outline: none;
    box-shadow: 0 2px 4px rgba(94, 94, 94, 0.596);
    transition: all 0.2s ease;
    
    margin-top: 250px;
    padding: 12px 20px;
    width: 600px;
    border-radius: 35px;

}

